{% extends 'base.html' %}

{% block title %}
    Электромобили
{% endblock %}

{% block content %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 mb-4">
            <div class="card">
                <img src="{{ url_for('static', filename='image/cybertruck.jpg') }}" class="card-img-top" alt="Сybertruck">
                <div class="card-body">
                    <h5 class="card-title">Tesla Сybertruck</h5>
                    <p class="card-text">Качественный и футуристичный электромобиль.</p>
                    <a href="https://www.tesla.com/cybertruck" class="btn btn-primary">Перейти на сайт</a>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 mb-4">
            <div class="card">
                <img src="{{ url_for('static', filename='image/modelS.jpg') }}" class="card-img-top" alt="Tesla Model S">
                <div class="card-body">
                    <h5 class="card-title">Tesla Model S Performance</h5>
                    <p class="card-text">Самый быстрый, безопасный и технологичный электромобиль.</p>
                    <a href="https://www.tesla.com/models" class="btn btn-primary">Перейти на сайт</a>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 mb-4">
            <div class="card">
                <img src="{{ url_for('static', filename='image/zeekr001.jpg') }}" class="card-img-top" alt="Zeekr 001">
                <div class="card-body">
                    <h5 class="card-title">Zeekr 001</h5>
                    <p class="card-text">Качественный китайский электромобиль.</p>
                    <a href="https://www.zeekr.eu/" class="btn btn-primary">Перейти на сайт</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
