<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
    {% block title %}

    {% endblock %}
    </title>
</head>

<body>

    <header class="bg-primary text-white text-center py-3">
        <div class="container">
            <h1>Автомобили</h1>
            <nav class="nav justify-content-center">
                <a class="nav-link text-white" href="/">Электромобили</a>
                <a class="nav-link text-white" href="/dvs/">Автомобили на ДВС</a>
            </nav>
        </div>
    </header>
    <br>
    <br>

    {% block content %}

    {% endblock %}

    <footer class="bg-light text-center py-3 mt-4">
        <p>&copy; 2024 Автомобили</p>
    </footer>

</body>
</html>
