<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Контакты</title>
</head>
<body>
     <footer id="contact-section" class="bg-dark text-white p-4">
        <div class="container">
          <p>Контактная информация: email@example.com, телефон: +1234567890</p>
          <p>Социальные сети:
            <a href="https://ru-ru.facebook.com/login/?next=https%3A%2F%2Fru-ru.facebook.com%2F" class="text-white">Facebook</a>,
            <a href="https://x.com/" class="text-white">X</a>,
            <a href="https://www.instagram.com/" class="text-white">Instagram</a>
          </p>
        </div>
     </footer>
</body>
</html>