{% extends 'base.html' %}

{% block title %}
    Автомобили на ДВС
{% endblock %}

{% block content %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 mb-4">
            <div class="card">
                <img src="{{ url_for('static', filename='image/Exeed VX.jpg') }}" class="card-img-top" alt="Exeed VX">
                <div class="card-body">
                    <h5 class="card-title">Exeed VX</h5>
                    <p class="card-text">Первоклассные категории комфорта и безопасности.</p>
                    <a href="https://www.exeedinternational.com/models/vx/index.shtml" class="btn btn-primary">Перейти на сайт</a>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 mb-4">
            <div class="card">
                <img src="{{ url_for('static', filename='image/Cadillac XT5.jpg') }}" class="card-img-top" alt="Cadillac XT5">
                <div class="card-body">
                    <h5 class="card-title">Cadillac XT5</h5>
                    <p class="card-text">Роскошный компактный внедорожник.</p>
                    <a href="https://www.cadillac.com/suvs/xt5" class="btn btn-primary">Перейти на сайт</a>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 mb-4">
            <div class="card">
                <img src="{{ url_for('static', filename='image/audi sq7 tdi.jpg') }}" class="card-img-top" alt="Audi SQ7 TDI">
                <div class="card-body">
                    <h5 class="card-title">Audi SQ7 TDI</h5>
                    <p class="card-text">Мощный и универсальный.</p>
                    <a href="https://www.audi.com.sg/sg/web/en/models/q7/sq7.html" class="btn btn-primary">Перейти на сайт</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
